@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#translate-options-dialog
{
    height: 22em;
    width: 45em;
}

#translateTo-lang-list
{
    width: 7em;
}

#translateFrom-lang-list
{
    width: 7em;
}

.scroll
{
    height: 16em;
	overflow: auto;
}
